@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.header {
	font-family: helvetica, sans-serif;
	font-size: 1.25em;
	padding: 0.5em;
}

.billboard {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}

.quote {
	position: absolute;
	bottom: 0px;
	font-family: georgia, serif;
	font-style: italic;
	color: white;
	padding: 0.5em;
	background-color: rgba(0, 0, 5, .4);
}

.term {
	font-family: helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 0.75em;
	color: grey; 
}
	
.desc {
	font-family: helvetica, sans-serif;
	display: block;
}

.right {
	display: inline-block;
	padding: .5em;
	border-right: solid;
	border-width: 1px;
	border-color: #C0C0C0;
	padding: 1em;
	width: 30%;
}

.left {
	display: inline-block;
	padding: .5em;
	border-left: solid;
	border-width: 1px;
	border-color: #C0C0C0;
	padding: 1em;
	width: 30%;
}

.inlb {
	display: inline-block;
	padding: 1em;
	width: 30%;
}
